# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files (we'll handle these separately)
.env
.env.*
!.env.example
!example.env

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage
.nyc_output

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
docs

# CI/CD
.github
.gitlab-ci.yml

# Misc
*.md
!README.md
